.about_me {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow-x: hidden;
  padding: 100px 0 100px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.about_me .container {
  position: relative;
  width: 100%;
  height: 1000px;
}

.about_me .container .circle {
  position: absolute;
  z-index: 2;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF9900 radial-gradient(circle at 50% 0, #FF990065, #FF990035);
  border-radius: 100%;
  cursor: pointer;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.about_me .container .circle p {
  text-align: center;
  font-size: large;
  color: #FFFFFF;
}

.about_me .container .circle img {
  width: 50px;
  height: 50px;
}

.about_me .container .circleClick {
  left: 0;
  top: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.about_me .wrapper {
  position: relative;
  z-index: 1;
  top: calc(50% - 150px);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 500px;
}

.about_me .wrapper .my_photo {
  position: absolute;
  width: 300px;
  height: auto;
  left: -100%;
  opacity: 0;
  -webkit-transition: all 4s;
  transition: all 4s;
  z-index: 1;
}

.about_me .wrapper .visible_photo {
  left: 0;
  opacity: 1;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.about_me .wrapper .info_aboutMe {
  position: absolute;
  right: -100%;
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
  font-family: 'Times New Roman', Times, serif;
  z-index: 2;
}

.about_me .wrapper .info_aboutMe h1 {
  color: #FF9900;
  font-size: 64px;
  margin-top: 0;
}

.about_me .wrapper .info_aboutMe p {
  font-size: 26px;
  line-height: 64px;
}

.about_me .wrapper .visible_text {
  right: 0;
  opacity: 1;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.about_me .cart_1, .about_me .cart_2, .about_me .cart_3 {
  position: absolute;
  top: 75px;
  left: 140px;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.about_me .c1 {
  left: calc(50% - 150px);
  opacity: 1;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.about_me .c2 {
  left: calc(75% - 150px);
  opacity: 1;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.about_me .c3 {
  right: 0;
  left: calc(100% - 150px);
  opacity: 1;
  -webkit-transition: all 4s;
  transition: all 4s;
}
/*# sourceMappingURL=aboutMe.css.map */